body{
    margin: 0px;
    padding: 0px;

    font-family: Verdana, serif;
}

header{
    padding: 70px;
    line-height: 70px;
    padding-left: 40px;

    background: #5c5cf0;
    color: #e5a0a0;

    font-size: 3em;
    font-weight: bold;

    margin-bottom: 50px;
}

section{
    background: #ceb8b8;
}

article{
    display: flex;
}

img{
    border: dashed 1px #555;
    margin: 10px;
}

nav{
    display: flex;
    justify-content:space-evenly;
    background: #ccc;
    
}

nav a {
    color: #555;
    text-decoration: none;
    padding: 15px;

}

nav a:hover{
    background: #555;
    color: #CCCCCC;
}
